body {
  text-align: center;
  padding:200px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/skillet-pizza-bianca-with-spring-greens-and-an-egg.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr{
  width: 200px;
}
p {
  font-size:22px;
}