body {
  text-align: center;
  padding:200px;
  background: url("https://assets.bonappetit.com/photos/5922f8e3d47a6310b153e8af/16:9/w_2560,c_limit/skillet-pizza-bianca-with-spring-greens-and-an-egg.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr{
  width: 200px;
}
p {
  font-size:25px;
}